[Desktop Entry]
Name=Footprint OTP
Exec=footprint-otp
Terminal=false
Type=Application
Icon=me.zevlee.FootprintOTP
StartupWMClass=footprintotp
X-AppImage-Version=VERSION
Comment=Stream cipher encryption GUI application.
MimeType=x-scheme-handler/footprintotp;
Categories=GNOME;GTK;Utility;
